<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/jquery/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_gov_basis_bits_domain_BasisBitsRole" items="${basisbitsroles}" z="Bja4Y4PwzzPdxLShYOYcdW8Z3YE=">
        <table:table data="${basisbitsroles}" id="l_gov_basis_bits_domain_BasisBitsRole" path="/basisbitsroles" z="zHeIutBj0ePZ0ONHyHRv0ANqp5I=">
            <table:column id="c_gov_basis_bits_domain_BasisBitsRole_ROLENAME" property="ROLENAME" z="QNdldKimAkkwye52jVtjcJ4nw8w="/>
            <table:column id="c_gov_basis_bits_domain_BasisBitsRole_users" property="users" z="SFPIoSwQ0p2oQpqbBpqDtW/Of1Y="/>
        </table:table>
    </page:list>
</div>
