<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/jquery/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_gov_basis_bits_domain_BasisBitsUser" modelAttribute="basisBitsUser" path="/basisbitsusers" versionField="Version" z="2Y9IAi645+as4L/PWNoNatySsFQ=">
        <field:input field="USERNAME" id="c_gov_basis_bits_domain_BasisBitsUser_USERNAME" max="25" required="true" z="Z7C+HSFiXKZ0L5rBRYR3Vtyj/Uk="/>
        <field:input field="PASSWORD" id="c_gov_basis_bits_domain_BasisBitsUser_PASSWORD" max="25" required="true" z="nO0r1p4pggG1z4+ZqWHcEWTguDE="/>
        <field:input field="enabled" id="c_gov_basis_bits_domain_BasisBitsUser_enabled" max="1" required="true" z="TxeK+IgzTZlnZAe+yP1d/8Be00s="/>
        <field:select field="groups" id="c_gov_basis_bits_domain_BasisBitsUser_groups" itemValue="id" items="${basisbitsroles}" multiple="true" path="/basisbitsroles" z="q3KHZAYa+NfdoHiWiBPqgqiaEeM="/>
    </form:update>
</div>
