<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:util="urn:jsptagdir:/WEB-INF/tags/jquery/util" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<spring:message code="application_name" htmlEscape="false"
		var="app_name" />
	<spring:message arguments="${app_name}" code="welcome_titlepane"
		htmlEscape="false" var="title" />
	<script>
        $(function() {
                $("#tabs").tabs();
        });
    </script>


	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">About</a></li>

			<sec:authorize access="hasRole('ROLE_ADMIN')">
				<li><a href="#tabs-2">FABL</a></li>
			</sec:authorize>

			<sec:authorize access="hasRole('ROLE_ADMIN')">
				<li><a href="#tabs-3">COTR</a></li>
			</sec:authorize>

		</ul>

		<div id="tabs-1">
			<sec:authentication property="principal.username" var="loginId"
				scope="request" />

			<p>Welcome User: ${loginId}</p>
			<p>
				Roles: <b><sec:authentication property="principal.authorities" /></b>
			</p>
			<p>You were successfully authenticated on current time. This web
				application is the home of the BASIS Integration Tool Suite (BITS).
				BITS is a tool that hosts various custom applications, tools and
				email notifications that the internal BASIS team members use. Please
				select a tab to begin.</p>
		</div>

		<sec:authorize access="hasRole('ROLE_ADMIN')">
			<div id="tabs-2">
				<p>FABL App Goes here</p>
			</div>
		</sec:authorize>

		<sec:authorize access="hasRole('ROLE_ADMIN')">
			<div id="tabs-3">
				<p>COTR Page Goes here</p>
			</div>
		</sec:authorize>

	</div>
</div>
